* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    font: 400 16px/1.7 'Lato', sans-serif;
    color: getcolor(base, primary);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .2s;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: relative;

    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.main {
    flex-grow: 1;
}