* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    font: 400 16px/1.7 'Lato', sans-serif;
    color: getcolor(base, primary);
    background-color: getcolor(base, white);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: $screen-xs) {
        font-size: 15px;
    }
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;

    &:active {
        color: currentColor;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .2s;

    &:hover,
    &:focus {
        text-decoration: none;
        color: getcolor(purple, primary);
    }
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.image {
    width: 100%;
    height: auto;
    max-height: 100%;

    object-fit: cover;
    border-radius: $radius-sm;
}

.figure {
    margin: 0;

    &__figcaption {
        margin-top: 14px;

        font-size: 15px;
        font-weight: 400;
        color: getcolor(grays, primary);
    }

    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;

    max-width: $screen-lg;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    &_sm {
        max-width: 1206px;
    }

    @media (max-width: $screen-md) {
        max-width: $container-md;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: $screen-xs) {
        max-width: $container-xs;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.hidden {
    overflow: hidden;
    background-color: #fff !important;
}

.main {
    flex-grow: 1;
}

.title {
    &_h1,
    &_h2 {
        font-weight: 900;
        line-height: 1.2;
    }

    &_h1 {
        font-size: 55px;
    }

    &_h2 {
        margin-bottom: 45px;
        font-size: 42px;
    }

    &_h3,
    &_h4 {
        margin-bottom: 16px;

        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.01em;
    }

    &_h3 {
        font-size: 32px;
        color: getcolor(base, secondary);
    }

    &_h4 {
        font-size: 20px;
    }

    &_icon {
        display: flex;

        img {
            margin-right: 18px;
            height: auto;
        }
    }

    &__posts {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;
        color: getcolor(grays, primary);
    }

    @media (max-width: $screen-xs) {
        &_h1 {
            font-size: 31px;
        }

        &_h2 {
            font-size: 27px;
        }

        &_h3 {
            font-size: 19px;
        }

        &_h4 {
            font-size: 16px;
        }

        &_icon {
            img {
                margin-right: 9px;
                max-width: 40px;
            }
        }
    }
}

.sort {
    position: relative;

    font-weight: 500;
    white-space: nowrap;

    cursor: pointer;

    svg {
        width: 9px;
        height: 9px;
        margin-left: 6px;

        fill: getcolor(base, primary);
    }
}

.link {
    position: relative;

    padding-left: 20px;

    font-weight: 700;
    color: getcolor(purple, primary);

    &:hover {
        color: darken(getcolor(purple, primary), 10%);
    }

    &::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: '';

        width: 15px;
        height: 14px;

        background: url(../img/link.svg) no-repeat;
    }
}

.input {
    width: 100%;
    min-height: 54px;
    padding: 0 18px;

    background: getcolor(grays, extralight2);
    border-radius: $radius-xs;
    border: 0;

    &::-webkit-input-placeholder {color: currentColor; opacity: 1}
    &::-moz-placeholder {color: currentColor; opacity: 1}
    &:-moz-placeholder {color: currentColor; opacity: 1}
    &:-ms-input-placeholder {color: currentColor; opacity: 1}
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 61px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 16px;
    font-weight: 700;

    background: getcolor(yellow, primary);
    box-shadow: 0 10px 28px rgba(255, 221, 131, 0.55);
    border-radius: $radius-xs;

    cursor: pointer;

    transition: .2s;

    &:hover {
        background: darken(getcolor(yellow, primary), 5%);
    }
}

.hash-tag {
    display: inline-flex;
    flex-direction: column;

    &__link {
        display: inline-block;
        padding: 11px 15px;

        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        white-space: nowrap;

        border-radius: $radius-xs;

        &:hover,
        &.active {
            color: getcolor(purple, primary);
            background-color: getcolor(grays, semilight2);
        }
    }

    &__posts {
        margin-top: 11px;

        font-size: 18px;
        font-weight: 700;
        color: getcolor(purple, primary);

        svg {
            width: 17px;
            height: 15px;
            margin-left: 10px;

            stroke: currentColor;

            transform: rotate(180deg) translateY(-2px);
        }
    }

    &.-title {
        align-items: center;
        .hash-tag__link {
            padding: 0;

            font-size: 31px;
            font-weight: 900;
            line-height: 1.2;

            &:hover {
                background-color: unset;
            }
        }
    }

    &.-gray {
        .hash-tag__posts {
            color: getcolor(grays, primary);
        }
    }

    &.-xs {
        .hash-tag__link {
            padding: 5px 10px;
            font-size: 15px;
        }
    }

    @media (max-width: $screen-xs) {
        &__link {
            padding: 10px 12px;
            font-size: 15px;
        }

        &.-title {
            .hash-tag__link {
                font-size: 19px;
            }
        }

        &__posts {
            margin-top: 5px;
            font-size: 14px;

            svg {
                width: 14px;
                height: 12px;
            }
        }
    }
}

.likes {
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.03em;
    color: getcolor(base, secondary);

    cursor: pointer;
    
    &.active {
        .likes__count {
            &::before {
                background-image: url(../img/svg/heart-fill.svg);
            }
        }
    }

    &__count {
        position: relative;
        padding-left: 28px;

        &::before {
            position: absolute;
            top: 3px;
            left: 0;
            content: '';

            width: 20px;
            height: 18px;

            background-image: url(../img/svg/heart.svg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 50px;
    height: 50px;

    background-color: getcolor(base, white);
    border-radius: 50%;
    border: 1px solid getcolor(grays, secondary);

    cursor: pointer;

    svg {
        width: 13px;
        height: 13px;

        stroke: currentColor;
        transition: .2s;
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }
}

.btn-search {
    width: 27px;
    height: 27px;

    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;

        fill: getcolor(base, primary);
    }
}

.checkbox {
    display: inline-block;
    text-align: left;

    &__label {
        position: relative;

        display: block;
        padding-left: 34px;

        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;

        cursor: pointer;

        &::after,
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }

        &::after {
            top: -2px;

            width: 23px;
            height: 23px;

            border: 2px solid getcolor(yellow, primary);
            border-radius: $radius-xxs;
        }

        &::before {
            top: 5px;
            left: 6px;

            width: 11px;
            height: 10px;
            opacity: 0;

            background-image: url(../img/svg/check.svg);
            background-repeat: no-repeat;

            transition: .2s;
        }
    }

    input:checked + .checkbox__label {
        &::before {
            opacity: 1;
        }
    }

    @media (max-width: $screen-xs) {
        &__label {
            font-size: 14px;
        }
    }
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
        position: relative;
        padding-left: 20px;

        &::before {
            position: absolute;
            top: 12px;
            left: 0;
            content: '';

            width: 7px;
            height: 7px;

            border-radius: 50%;
            background-color: getcolor(purple, primary);
        }
    }

    li + li {
        margin-top: 14px;
    }

    @media (max-width: $screen-xs) {
        li {
            padding-left: 15px;

            &::before {
                top: 10px;

                width: 5px;
                height: 5px;
            }
        }

        li + li {
            margin-top: 10px;
        }
    }
}

.share {
    display: inline-flex;
    align-items: center;
    gap: 14px;

    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.03em;
    color: getcolor(base, secondary);

    cursor: pointer;

    transition: .2s;

    svg {
        width: 20px;
        height: 24px;

        fill: none;
        stroke: currentColor;
    }

    &:hover {
        color: getcolor(purple, primary);
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;

    min-width: 225px;
    margin: 0;
    padding: 11px 9px;

    opacity: 0;
    visibility: hidden;

    list-style: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.06em;

    background: getcolor(base, white);
    border-radius: $radius-xs;
    box-shadow: 0 14px 60px rgba(74, 74, 74, 0.14);

    transform: translateY(-40px);
    transition: .2s;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &__item {
        & + .dropdown__item {
            margin-top: 3px;
        }
    }

    &__item-name {
        display: inline-block;
        width: 100%;
        padding: 14px 10px;

        border-radius: 7px;
        transition: .2s;

        &:hover {
            background-color: getcolor(yellow, primary);
        }

        &.-current {
            font-weight: 700;
            background-color: getcolor(yellow, primary);

            svg {
                width: 10px;
                height: 9px;
                margin-right: 3px;

                stroke: getcolor(base, primary);
            }
        }
    }
}

.load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding: 18px 10px;
    width: 100%;

    text-align: center;

    border: 1px solid getcolor(blue, light);
    border-radius: $radius-xxs;

    cursor: pointer;

    transition: .2s;

    &:active {
        color: currentColor;
    }

    &:hover {
        background-color: getcolor(grays, extralight);
    }

    &__name,
    &__count {
        font-weight: 700;
        line-height: 1.2;
    }

    &__name {
        font-size: 14px;
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 26px;
        height: 26px;

        font-size: 12px;

        background-color: getcolor(yellow, primary);
        border-radius: 50%;
    }

    @media (max-width: $screen-xs) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}