* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    font: 400 16px/1.7 'Lato', sans-serif;
    color: getcolor(base, primary);
    background-color: getcolor(base, white);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: $screen-xs) {
        font-size: 15px;
    }
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .2s;

    &:hover,
    &:focus {
        text-decoration: none;
        color: getcolor(purple, primary);
    }
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.image {
    width: 100%;
    height: auto;

    object-fit: cover;
    border-radius: $radius-sm;
}

.figure {
    margin: 0;

    &__figcaption {
        margin-top: 14px;

        font-size: 15px;
        font-weight: 400;
        color: getcolor(grays, primary);
    }

    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;

    max-width: $screen-lg;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    &_sm {
        max-width: 1206px;
    }

    @media (max-width: $screen-md) {
        max-width: $container-md;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: $screen-xs) {
        max-width: $container-xs;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.hidden {
    overflow: hidden;
    background-color: #fff !important;
}

.main {
    flex-grow: 1;
}

.title {
    &_h1,
    &_h2 {
        font-weight: 900;
        line-height: 1.2;
    }

    &_h1 {
        font-size: 55px;
    }

    &_h2 {
        margin-bottom: 45px;
        font-size: 42px;
    }

    &_h3,
    &_h4 {
        margin-bottom: 16px;

        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.01em;
    }

    &_h3 {
        font-size: 32px;
        color: getcolor(base, secondary);
    }

    &_h4 {
        font-size: 20px;
    }

    &_icon {
        display: flex;
        align-items: center;

        img {
            margin-right: 18px;
        }
    }
}

.link {
    position: relative;

    padding-left: 20px;

    font-weight: 700;
    color: getcolor(purple, primary);

    &:hover {
        color: darken(getcolor(purple, primary), 10%);
    }

    &::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: '';

        width: 15px;
        height: 14px;

        background: url(../img/link.svg) no-repeat;
    }
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
        position: relative;
        padding-left: 20px;

        &::before {
            position: absolute;
            top: 12px;
            left: 0;
            content: '';

            width: 7px;
            height: 7px;

            border-radius: 50%;
            background-color: getcolor(purple, primary);
        }
    }

    li + li {
        margin-top: 14px;
    }
}