.header {
    padding-top: 23px;
    padding-bottom: 23px;

    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-right: auto;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__menu {
    }

    .lang {
        margin-right: 36px;
        &.-guest {
            margin-left: auto;
        }
    }

    &__sign-in {

    }

    @media (max-width: $screen-sm) {
        padding-top: 15px;
        padding-bottom: 15px;

        &__logo {
            margin-right: 0;
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;

    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;

    span:nth-child(2) {
        line-height: .7;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        gap: 58px;
        margin: 0 62px 0 0;
        padding: 0;

        list-style: none;

        font-size: 14px;
        font-weight: 600;
    }

    li {
    }

    &__link {
        position: relative;

        &::after {
            position: absolute;
            top: 20px;
            left: 50%;
            content: '';

            width: 6px;
            height: 6px;
            opacity: 0;

            background-color: currentColor;
            border-radius: 50%;

            transform: translate(-50%, 0);
            transition: .2s;
        }

        &:hover,
        &.active {
            color: getcolor(purple, primary);
            &::after {
                opacity: 1;
                transform: translate(-50%, 10px);
            }
        }
    }

    @media (max-width: $screen-sm) {
        position: fixed;
        top: 70px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;

        flex-direction: column;
        margin: 0;
        padding-bottom: 56px;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;

        background-color: getcolor(base, white);
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        transform: scale(0.5);
        transition: .2s;

        &.active {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        &__list {
            flex-direction: column;
            gap: 24px;
            margin: auto;

            font-size: 31px;
            text-align: center;
        }

        a {
            &:hover,
            &.active {
                &::after {
                    top: 40px;
                }
            }
        }
    }
}

.lang {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    &__item {
        position: relative;

        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        text-transform: uppercase;

        & + .lang__item {
            margin-left: 10px;
            padding-left: 10px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';

                width: 1px;
                height: 8px;

                background-color: getcolor(grays, primary);

                transform: translateY(-50%);
            }
        }
    }

    &__link {
        color: getcolor(grays, primary);
        &:hover {
            color: getcolor(base, primary);
        }
    }

    &__current {}

    @media (max-width: $screen-sm) {
        &:not(.-guest) {
            margin-right: 0;
            margin-top: 40px;
        }
    }
}

.sign-in {
    display: flex;
    align-items: center;

    font-size: 13px;
    font-weight: 900;

    &:hover {
        .sign-in,
        &.-guest .sign-in {
            &__icon {
                background-color: getcolor(purple, primary);

                svg {
                    stroke: getcolor(base, white);
                }
            }
        }
    }

    &.-guest {
        .sign-in {
            &__icon {
                background-color: getcolor(base, white);
            }

            &__title {
                display: inline-block;
            }
        }
    }

    &__title {
        display: none;
        margin-right: 20px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        background-color: getcolor(yellow, primary);
        border-radius: 50%;

        transition: .2s;

        svg {
            width: 15px;
            height: 20px;

            fill: none;
            stroke: getcolor(base, primary);
            transition: .2s;
        }
    }

    @media (max-width: $screen-xs) {
        &.-guest {
            .sign-in {
                &__title {
                    display: none;
                }
            }
        }
    }
}

.menu-open {
    position: absolute;
    left: 50%;

    display: none;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;

    text-indent: -9999px;

    border: 0;
    background-color: transparent;
    outline: none;

    cursor: pointer;

    transform: translateX(-50%);

    &::after,
    &::before {
        position: absolute;
        top: 11px;
        left: 0;
        content: '';

        width: 100%;
        height: 2px;

        border-radius: 6px;
        background-color: getcolor(base, primary);

        transition: transform .2s;
    }

    &::after {
        top: 19px;
    }

    &.active {
        &::before {
            transform: translateY(4px) rotate(-45deg);
        }

        &::after {
            transform: translateY(-4px) rotate(45deg);
        }
    }

    @media (max-width: $screen-sm) {
        display: block;
    }
}