.header {
    padding-top: 23px;
    padding-bottom: 23px;

    &__row {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }

    &__sign-in {
        margin-left: 36px;
    }
}

.logo {
    display: flex;
    flex-direction: column;

    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;

    span:nth-child(2) {
        line-height: .7;
    }

    &:hover {
        color: getcolor(purple, primary);
    }
}

.lang {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    &__item {
        position: relative;

        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        text-transform: uppercase;

        & + .lang__item {
            margin-left: 10px;
            padding-left: 10px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';

                width: 1px;
                height: 8px;

                background-color: getcolor(grays, primary);

                transform: translateY(-50%);
            }
        }
    }

    &__link {
        color: getcolor(grays, primary);
        &:hover {
            color: getcolor(base, primary);
        }
    }

    &__current {}
}

.sign-in {
    display: flex;
    align-items: center;

    font-size: 13px;
    font-weight: 900;

    &:hover {
        color: getcolor(purple, primary);

        .sign-in__icon {
            background-color: getcolor(purple, primary);

            svg {
                stroke: getcolor(base, white);
            }
        }
    }

    &__title {

    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: 20px;

        background-color: getcolor(yellow, primary);
        border-radius: 50%;

        transition: .2s;

        &.-guest {
            background-color: getcolor(base, white);
        }

        svg {
            width: 15px;
            height: 20px;

            fill: none;
            stroke: getcolor(base, primary);
            transition: .2s;
        }
    }
}