.header {
    padding-top: 23px;
    padding-bottom: 23px;

    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &__row {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }

    &__menu {
        margin-right: 62px;
    }

    .lang {
        margin-right: 36px;
    }

    &__sign-in {

    }
}

.logo {
    display: flex;
    flex-direction: column;

    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;

    span:nth-child(2) {
        line-height: .7;
    }
}

.menu {
    ul {
        display: flex;
        gap: 58px;
        margin: 0;
        padding: 0;

        list-style: none;

        font-size: 14px;
        font-weight: 600;
    }

    li {
    }

    a {
        position: relative;

        &::after {
            position: absolute;
            top: 20px;
            left: 50%;
            content: '';

            width: 6px;
            height: 6px;
            opacity: 0;

            background-color: currentColor;
            border-radius: 50%;

            transform: translate(-50%, 0);
            transition: .2s;
        }

        &:hover {
            &::after {
                opacity: 1;
                transform: translate(-50%, 10px);
            }
        }
    }
}

.lang {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    &__item {
        position: relative;

        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        text-transform: uppercase;

        & + .lang__item {
            margin-left: 10px;
            padding-left: 10px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';

                width: 1px;
                height: 8px;

                background-color: getcolor(grays, primary);

                transform: translateY(-50%);
            }
        }
    }

    &__link {
        color: getcolor(grays, primary);
        &:hover {
            color: getcolor(base, primary);
        }
    }

    &__current {}
}

.sign-in {
    display: flex;
    align-items: center;

    font-size: 13px;
    font-weight: 900;

    &:hover {
        .sign-in,
        &.-guest .sign-in {
            &__icon {
                background-color: getcolor(purple, primary);

                svg {
                    stroke: getcolor(base, white);
                }
            }
        }
    }

    &.-guest {
        .sign-in {
            &__icon {
                background-color: getcolor(base, white);
            }

            &__title {
                display: inline-block;
            }
        }
    }

    &__title {
        display: none;
        margin-right: 20px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        background-color: getcolor(yellow, primary);
        border-radius: 50%;

        transition: .2s;

        svg {
            width: 15px;
            height: 20px;

            fill: none;
            stroke: getcolor(base, primary);
            transition: .2s;
        }
    }
}