.about {
    &__recreation {
        margin-top: 200px;
    }

    &__container {
        margin-top: 87px;
    }

    &__title {
        margin-bottom: 48px;
    }

    &__text-heading {
        margin-top: 48px;
        font-size: 19px;
        p + p {
            margin-top: 30px;
        }
    }

    ::selection {
        background-color: getcolor(yellow, primary);
    }
}

.welcome {
    position: relative;
    overflow: hidden;

    &__info {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
    }

    &__title {
        justify-content: center;
    }

    &__text {
        margin-top: 20px;
        font-size: 20px;
    }

    &__scroll-down {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 68px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid getcolor(grays, extralight2);
        border-radius: 50%;

        cursor: pointer;

        transition: border .2s;

        svg {
            width: 21px;
            height: 19px;

            stroke: getcolor(base, primary);

            transition: .2s;
        }

        &:hover {
            border-color: getcolor(purple, primary);
            svg {
                stroke: getcolor(purple, primary);
                transform: translateY(3px);
            }
        }
    }

    &__forest {
        position: relative;

        display: inline-block;
        width: 240px;
        height: 245px;
        margin-top: 70px;

        &::after {
            position: absolute;
            top: 40px;
            right: -91px;
            content: '';

            width: 56px;
            height: 56px;

            background-color: getcolor(yellow, primary);
            border-radius: $radius-sm;
        }
    }

    &__man {
        position: relative;

        display: inline-block;
        width: 350px;
        height: 250px;
        margin-left: 210px;

        &::after {
            position: absolute;
            top: -48px;
            left: -50px;
            content: '';
            z-index: -1;

            width: 120px;
            height: 120px;

            background-color: getcolor(purple, primary);
            border-radius: $radius-lg;
        }
    }

    &__flat {
        position: absolute;
        top: 110px;
        right: 0;

        display: inline-block;
        width: 320px;
        height: 500px;

        &::after {
            position: absolute;
            bottom: -58px;
            right: -10px;
            content: '';
            z-index: -1;

            width: 375px;
            height: 293px;

            background-color: getcolor(blue, primary);
            border-radius: $radius-lg;
        }
    }
}

.recreation {
    $this: &;

    &__box {
        margin-top: 70px;

        font-size: 17px;
        letter-spacing: 0.01em;
    }

    &__item {
        display: flex;

        & + #{$this}__item {
            margin-top: 80px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            #{$this}__info {
                padding: 70px 10% 70px 70px;

                &::after {
                    left: 0;
                    right: -80px;
                }
            }
        }
    }

    &__img {
        width: 38%;
        max-height: 415px;
        margin-top: 74px;
    }

    &__info {
        position: relative;

        width: 62%;
        padding: 80px 70px 80px 10%;

        &::after {
            position: absolute;
            top: 0;
            left: -80px;
            bottom: 0;
            right: 0;
            content: '';
            z-index: -1;

            background-color: getcolor(grays, extralight);
            border-radius: $radius-lg;
        }
    }

    &__title {
        margin-bottom: 34px;
    }

    &__text {
        line-height: 1.8;
        color: getcolor(base, secondary);
    }

    &__additional {
        margin-top: 58px;
    }

    &__list {
        margin: 16px 0 0;
        padding: 0;

        list-style: none;

        li {
            position: relative;
            padding-left: 20px;

            &::before {
                position: absolute;
                top: 12px;
                left: 0;
                content: '';

                width: 7px;
                height: 7px;

                border-radius: 50%;
                background-color: getcolor(purple, primary);
            }
        }

        li + li {
            margin-top: 14px;
        }
    }

    &__pic {
        margin: 80px auto 0;
        max-width: 1920px;

        img {
            width: 100%;
        }
    }
}

.places {
    .list-counter {
        max-width: 685px;
        margin-top: 80px;
    }
}

.list-counter {
    margin: 0;
    padding: 0;

    list-style: none;

    counter-reset: section;

    &__item {
        display: flex;
        align-items: center;
        gap: 50px;

        & + .list-counter__item {
            margin-top: 45px;
        }
    }

    &__photo {
        width: 140px;
        height: 140px;
        flex-shrink: 0;

        border-radius: 50%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        position: relative;

        &::before {
            counter-increment: section;
            content: counter(section) ". ";
        }
    }

    &__text {
        margin-top: 13px;
        font-weight: 500;
    }
}