.chronology-box {
    position: relative;
    top: -1px;

    padding-top: 47px;
    padding-bottom: 57px;

    background-color: getcolor(grays, extralight);

    &__tabs {
        display: flex;
        align-items: center;
        gap: 17px;

        font-size: 12px;
        line-height: 14px;
        font-weight: 900;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    &__link {
        position: relative;
        color: getcolor(grays, primary);

        &.active {
            color: getcolor(base, primary);
        }
    }

    &__divider {
        color: #CBDAE6;
    }

    &__years {
        margin-top: 38px;
    }
}

.chronology {
    &__row {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    &__box {
        display: flex;
        gap: 18px;
        align-items: center;
    }

    &__btn {
        width: 23px;
        height: 21px;

        &.next {
            transform: rotate(180deg);
        }

        svg {
            width: 100%;
            height: 100%;

            stroke: getcolor(base, primary);
            transition: 0.2s;
        }

        &:hover {
            svg {
                stroke: getcolor(purple, primary);
            }
        }
    }

    &__year {
        position: relative;

        font-size: 55px;
        font-weight: 800;

        .dropdown {
            left: 50%;
            transform: translate(-50%, -40px);
        }

        &:hover {
            .dropdown {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, 0);
            }
        }
    }

    &__months {
        position: relative;

        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__month {
        position: relative;

        padding-bottom: 30px;

        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: '';
            z-index: 1;

            width: 14px;
            height: 14px;

            border-radius: 50%;
            background-color: getcolor(blue, primary);
            border: 4px solid getcolor(base, white);
            box-shadow: 0 3px 16px rgba(167, 190, 198, 0.27);

            transform: translateX(-50%);
        }

        &.-current {
            font-weight: 900;

            &::after {
                bottom: -3px;

                width: 18px;
                height: 18px;

                background-color: #f7f7f7;
                border: 6px solid getcolor(red, primary);
                box-shadow: 0 3px 16px rgba(167, 190, 198, 0.27);
            }
        }

        &.-empty {
            color: getcolor(grays, primary);

            &::after {
                bottom: 2px;

                width: 9px;
                height: 9px;

                background-color: #eefbff;
                border: 1.5px solid getcolor(grays, primary);
            }
        }
    }

    &__line {
        position: absolute;
        bottom: 5px;
        left: 7px;

        width: 98%;
    }
}