.index {
    background-color: getcolor(grays, semilight);

    &__container {
        display: flex;
        flex-direction: column;
        padding-left: 150px;
    }

    .main {
        display: flex;
    }

    .author {
        margin-top: auto;

        &__info {
            margin-left: 5px;
        }
    }

    .categories {
        margin-top: 88px;
        margin-left: 5px;

        &__item {
            position: relative;
            z-index: 2;
        }

        &::before {
            position: absolute;
            bottom: -80px;
            left: -60px;
            content: '';

            width: 100px;
            height: 110px;

            background-color: getcolor(purple, primary);
            border-radius: $radius-lg;
        }
    }

    .social {
        position: absolute;
        top: 50%;
        right: 40px;
        z-index: 2;

        flex-direction: column;

        transform: translateY(-50%) scale(1);

        &__link {
            color: getcolor(base, white);
            background-color: getcolor(base, white);

            &:hover {
                color: getcolor(purple, primary);
                background-color: getcolor(purple, primary);

                .social__icon {
                    fill: getcolor(base, white);
                }
            }
        }

        &__icon {
            fill: getcolor(purple, primary);
        }
    }

    .footer {
        margin-top: 40px;
        padding: 35px 0;

        &__copy {
            text-align: right;
        }

        &__main-img {
            position: absolute;
            bottom: -35px;
            right: 0;

            img {
                display: block;
            }
        }
    }
}

.author {
    font-size: 18px;
    &__name {
        width: 684px;
        height: 236px;
        margin-bottom: 52px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__heading {
        font-weight: 900;
    }

    &__text {
        font-weight: 500;
    }
}

.categories {
    position: relative;

    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

    list-style: none;

    &__item {}

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 174px;
        height: 174px;

        background-color: getcolor(base, white);
        border-radius: $radius-md;

        transition: .2s;

        &:hover {
            box-shadow: 0 8px 16px 0 rgb(22 33 54 / 8%),
                        0 -8px 16px 0 rgb(22 33 54 / 4%),
                        0 16px 24px 0 rgb(22 33 54 / 16%);
            color: getcolor(purple, primary);

            .categories__name {
                svg {
                    transform: translateX(6px);
                }
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-top: 32px;
    }

    &__name {
        margin-top: 17px;

        font-size: 17px;
        font-weight: 900;

        svg {
            width: 8px;
            height: 12px;

            stroke: currentColor;

            transition: transform .2s;
        }
    }
}