.moments-box {
    position: relative;
    top: -1px;

    padding-top: 47px;
    padding-bottom: 57px;

    background-color: getcolor(grays, extralight);

    &.-albums {
        padding-bottom: 30px;
    }

    &__tabs {
        display: flex;
        align-items: center;
        gap: 17px;

        font-size: 12px;
        line-height: 14px;
        font-weight: 900;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    &__link {
        position: relative;
        color: getcolor(grays, primary);

        &.active {
            color: getcolor(base, primary);
        }
    }

    &__divider {
        color: #CBDAE6;
    }

    &__years {
        margin-top: 38px;
    }

    &__album.moments-albums {
        margin-top: 27px;
        margin-left: -14px;
    }

    @media (max-width: $screen-sm) {
        &__tabs {
            justify-content: center;
        }

        &__album.moments-albums {
            padding-bottom: 15px;
            overflow-x: auto;
        }

        &.-albums {
            padding-bottom: 20px;
        }
    }

    @media (max-width: $screen-xs) {
        padding-top: 25px;
        padding-bottom: 20px;
    }
}

.chronology {
    &__row {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    &__box {
        display: flex;
        gap: 18px;
        align-items: center;
        line-height: 1;
    }

    &__btn {
        width: 23px;
        height: 21px;

        &.next {
            transform: rotate(180deg);
        }

        svg {
            width: 100%;
            height: 100%;

            stroke: getcolor(base, primary);
            transition: 0.2s;
        }

        &:hover {
            svg {
                stroke: getcolor(purple, primary);
            }
        }
    }

    &__year {
        position: relative;

        font-size: 55px;
        font-weight: 800;

        .dropdown {
            left: 50%;
            transform: translate(-50%, -40px);
        }

        &:hover {
            .dropdown {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, 0);
            }
        }
    }

    &__months {
        position: relative;

        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__month {
        position: relative;

        padding-bottom: 30px;

        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: '';
            z-index: 1;

            width: 14px;
            height: 14px;

            border-radius: 50%;
            background-color: getcolor(blue, primary);
            border: 4px solid getcolor(base, white);
            box-shadow: 0 3px 16px rgba(167, 190, 198, 0.27);

            transform: translateX(-50%);
        }

        &.-current {
            font-weight: 900;

            &::after {
                bottom: -3px;

                width: 18px;
                height: 18px;

                background-color: #f7f7f7;
                border: 6px solid getcolor(red, primary);
                box-shadow: 0 3px 16px rgba(167, 190, 198, 0.27);
            }
        }

        &.-empty {
            color: getcolor(grays, primary);

            &::after {
                bottom: 2px;

                width: 9px;
                height: 9px;

                background-color: #eefbff;
                border: 1.5px solid getcolor(grays, primary);
            }
        }
    }

    &__line {
        position: absolute;
        bottom: 5px;
        left: 7px;

        width: 98%;
    }

    @media (max-width: $screen-sm) {
        &__row {
            flex-direction: column;
            gap: 30px;
        }

        &__months {
            width: 100%;
        }
    }

    @media (max-width: $screen-xs) {
        &__line {
            display: none;
        }

        &__year {
            font-size: 34px;
        }

        &__btn {
            width: 19px;
            height: 17px;
        }

        &__months {
            gap: 20px;
            padding-bottom: 10px;
            overflow-y: auto;
        }

        &__month {
            padding: 10px;

            background: getcolor(base, white);
            border-radius: $radius-lg;

            &::after {
                content: unset;
            }

            &.-current {
                color: getcolor(base, white);
                background-color: getcolor(red, primary);
            }

            &.-empty {
                color: getcolor(grays, secondary);

                background-color: transparent;
                border: 1px solid getcolor(grays, extralight2);
            }
        }
    }
}

.moments {
    margin-top: 70px;

    &__wrapper {
        & + .moments__wrapper {
            margin-top: 85px;
        }
    }

    &__title {
        margin-bottom: 48px;

        font-size: 34px;
        font-weight: 900;
    }

    &__title-icon {
        max-width: 55px;
        height: auto;
    }

    &__year {
        font-weight: 400;
    }

    &__month {}

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 14px;
        margin-top: 12px;
        margin-bottom: 50px;

        line-height: 1.4;
    }

    &__about {}

    &__sort {
        position: relative;

        font-weight: 500;
        white-space: nowrap;

        cursor: pointer;

        svg {
            width: 9px;
            height: 9px;
            margin-left: 6px;

            fill: getcolor(base, primary);
        }

        .dropdown {
            right: 0;
            left: auto;
        }

        &:hover {
            .dropdown {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        column-count: 4;
        column-gap: 38px;

        list-style: none;
        /* fix bug column-count */
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 20px;
            margin-top: -20px;
        }
    }

    &__item {
        margin-bottom: 35px;

        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -moz-page-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        overflow: hidden;
    }

    &__load-more {
        margin-top: 48px;
    }

    @media (max-width: $screen-sm) {
        &__list {
            column-count: 3;
        }
    }

    @media (max-width: $screen-xs) {
        margin-top: 40px;

        &__wrapper {
            & + .moments__wrapper {
                margin-top: 45px;
            }
        }

        &__title {
            margin-bottom: 25px;
            font-size: 24px;
        }

        &__title-icon {
            max-width: 36px;
        }

        &__box {
            flex-direction: column;
            gap: 35px;
        }

        &__sort {
            .dropdown {
                right: auto;
                left: 0;
            }
        }

        &__list {
            column-count: 2;
            column-gap: 18px;
        }
    }
}

.moment {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.-slider {
        .moment__category {
            font-size: 16px;
            font-weight: 700;

            img {
                width: 54px;
                height: 54px;
            }
        }

        .moment__meta {
            font-size: 16px;
        }
    }

    &__pic {
        display: block;
        border-radius: $radius-xs;
    }

    &__meta {
        margin-top: 7px;
        margin-bottom: 8px;

        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        color: getcolor(grays, primary);
    }

    &__date {
        margin-right: 18px;
    }

    &__location {
        svg {
            width: 11px;
            height: 14px;
            margin-right: 3px;

            fill: getcolor(grays, primary);

            transform: translateY(2px);
        }
    }

    &__link {
        line-height: 1.5;
    }

    &__category {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 3px;

        font-size: 14px;
        font-weight: 900;
        line-height: 1.2;

        img {
            display: inline-block;
            vertical-align: middle;
            width: 37px;
            height: 37px;

            border-radius: 50%;
        }
    }

    &__info {
        display: inline-flex;
        flex-direction: column;
        gap: 3px;
    }

    &__album {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: getcolor(grays, primary);
    }

    &__category-name {
        svg {
            width: 11px;
            height: 11px;

            stroke: currentColor;
            transition: .2s;
        }

        &:hover {
            svg {
                transform: translateX(3px);
            }
        }
    }

    @media (max-width: $screen-xs) {
        gap: 7px;

        &__meta {
            display: flex;
            flex-direction: column;
            gap: 5px;

            font-size: 13px;
        }

        &__link {
            font-size: 14px;
        }

        &__category {
            display: none;
        }
    }

}

.moments-albums {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    text-align: center;

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: 16px 14px;

        border-radius: $radius-sm;

        &:hover {
            background-color: getcolor(base, white);
            box-shadow: 0 16px 33px rgba(221, 221, 221, 0.25);
        }

        &.-active {
            background-color: getcolor(base, white);
            box-shadow: 0 16px 33px rgba(221, 221, 221, 0.25);

            .moments-albums__name {
                font-weight: 900;
                color: getcolor(base, primary);
            }
        }
    }

    &__pic {
        display: block;
        width: 126px;
        height: 99px;
        object-fit: cover;

        border-radius: $radius-xs;
    }

    &__name,
    &__count {
        font-weight: 500;
        line-height: 1.2;
        color: getcolor(grays, primary);
    }

    &__name {
        display: inline-block;
        margin-top: 17px;

        font-size: 14px;
    }

    &__count {
        margin-left: 8px;
        font-size: 11px;
    }

    @media (max-width: $screen-sm) {
        &__item {
            flex-shrink: 0;
        }
    }

    @media (max-width: $screen-xs) {
        gap: 6px;

        &__link {
            padding: 10px;
        }

        &__pic {
            width: 90px;
            height: 70px;
        }

        &__name {
            font-size: 13px;
        }

        &__count {
            display: none;
        }
    }
}

.moments-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 997;

        background-color: rgba(17, 17, 35, .3);
    }

    &__container {
        position: relative;
        z-index: 998;

        max-width: 970px;
        width: 100%;
        margin-top: 87px;
        padding: 52px 114px 67px;

        background-color: getcolor(base, white);
        border-radius: $radius-md;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__count-pic {
        margin-bottom: 7px;

        font-size: 14px;
        line-height: 1.2;
        color: getcolor(grays, primary);
    }

    &__info {
        margin-top: 35px;

        p {
            margin: 25px 0;
        }
    }

    &__link {
        font-weight: 700;
        color: getcolor(purple, primary);
    }

    &__close {
        position: absolute;
        top: -87px;
        right: -200px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;

        background-color: getcolor(base, white);
        border-radius: 50%;

        cursor: pointer;

        svg {
            width: 13px;
            height: 13px;

            stroke: currentColor;
            transition: .2s;
        }

        &:hover {
            svg {
                transform: rotate(90deg);
            }
        }
    }
}

/* Safari only override */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .moment {
            display: inline-flex;
        }
    }
}