@import './utils/fonts';
@import './utils/mixins';
@import './utils/functions';
@import './utils/vars';
@import './utils/base';

@import './blocks/header';

@import './pages/index';
@import './pages/about';
@import './pages/family';
@import './pages/chronology';

@import './blocks/footer';